.homepage
  .header
    = image_tag "https://d322e2pmoj0o5e.cloudfront.net/assets/application/hero-strip-battlehack-girl-9487abc85b33e1590d4fb81cce6c16e3.png", class: "battlegirl"

    .title
      %h1 BattleEvangelist

      %h2 Become the Ultimate Evangelist

      = link_to "Register now", "/", class: "btn"

    = image_tag "https://d322e2pmoj0o5e.cloudfront.net/assets/application/hero-strip-battlehack-guy-a35772be84005e47cf8968511c4ac426.png", class: "battleguy"

